html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 100%;
  min-height: 100%;
}

html {
  background: #030303;
}

body {
  min-height: 100vh;
  background: #030303;
}

* {
  box-sizing: border-box;
}

button,
input {
  font-family: inherit;
}

button {
  -webkit-tap-highlight-color: transparent;
}